/* src/components/MainContent.module.css */
.mainContent {
  padding: 20px;
  flex: 1;
  color: var(--body_color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading{
  color: var(--body_color);
  margin-bottom: 15px;
}
