/* src/components/Sidebar.module.css */
.sidebar {
  width: 250px;
  background-color: #da1b36;
  color: var(--body_color);
  padding: 20px;
}

.navList {
  list-style: none;
  padding: 0;
}

.navList li {
  margin: 15px 0;
  cursor: pointer;
  transition: color 0.2s;
}

.navList li:hover {
  color: #ffd700;
}
